<% title = "Register"; %>

<div class="card">
  <h1>Create account</h1>

  <% if (error) { %>
    <p style="color:red; margin-bottom:10px;"><%= error %></p>
  <% } %>

  <form method="post" action="/register">
    <p>
      <label>Name:<br>
        <input type="text" name="name">
      </label>
    </p>
    <p>
      <label>Email:<br>
        <input type="email" name="email">
      </label>
    </p>
    <p>
      <label>Password:<br>
        <input type="password" name="password">
      </label>
    </p>
    <button type="submit">Register</button>
  </form>

  <p style="margin-top:10px;">
    Already have an account?
    <a href="/login">Login</a>
  </p>
</div>